@font-face {
    font-family: 'pokemon classic';
    src: url(../font/pokemon-classic.ttf);
}
:root {
    --white: rgb(224, 224, 224);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    overflow-y: hidden;
    background: rgb(68, 68, 68);
    background-attachment: fixed;
    font-family: 'pokemon classic', Arial, Helvetica, sans-serif;
    color: var(--white);
}
.screen {
    --background-color: rgb(245, 245, 254);
    --footer-color: rgb(238, 64, 53);
    --button-color: rgb(178, 177, 178);
    --name-color: rgb(185, 185, 30);
    --border-color: rgb(88, 88, 90);
    --border-image-color: rgb(160, 208, 224);
    --black: rgb(60,60,60);
    --gradient: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1) 100%);
    --border: 0.5rem solid var(--border-color);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 600;
}
.card {
    width: 60%;
    overflow: hidden;
    border: var(--border);
    border-radius: 2rem;
}
.card-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3% 1%;
    background: var(--background-color) var(--gradient);
    border-bottom: var(--border);
}
.pokemon-img {
    --size: 25rem;
    width: var(--size);
    height: var(--size);
    margin: 1%;
    background-color: var(--background-color);
    border: var(--border);
    border-color: var(--border-image-color);
    border-radius: 1rem;
    object-fit: cover;
}
.text {
    flex: 1;
    margin: 1%;
    color: var(--black);
    font-size: 1.5rem;
}
.pokemon-name {
    color: var(--name-color);
    text-transform: capitalize;
}
.text h3 {
    margin-bottom: 3%;;
}
.rename {
    display: none;
}
.rename.active {
    display: block;
}
.rename-question {
    display: none;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin: 3% 0;
}
.rename-question.active {
    display: block;
}
.button-container {
    display: flex;
    align-items: center;
    margin: 0 2%;
    font-size: 1.2rem;
}
button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    font: inherit;
}
button:focus {
    outline: none;
}
.arrow {
    visibility: hidden;
}
.button-container:has(button:hover) .arrow, .button-container:has(button:focus) .arrow {
    visibility: visible;
}
.nickname-input {
    display: none;
}
.nickname-input.active {
    display: block;
}
.input-button {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 2%;
    margin: 3% 0;
}
.input-button input {
    flex: 1;
    padding: 1% 2%;
    background-color: var(--background-color);
    border: var(--border);
    border-color: rgb(0,0,0,0.2);
    border-width: 0.2rem;
    border-radius: 0.2rem;
    font: inherit;
    font-size: 0.75rem;
}
.input-button input:focus {
    border-color: rgb(0,0,0,0.3);
    outline: none;
}
.input-button button {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    border: var(--border);
    border-color: rgb(0,0,0,0.2);
    border-width: 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.7rem;
}
.input-button button:hover {
    border-color: rgb(0,0,0,0.3);
    filter: brightness(1.1);
}
.pokemon-info {
    display: none;
}
.pokemon-info.active {
    display: block;
    font-weight: bold;
}
.pokemon-info span {
    color: inherit;
    font-weight: normal;
}
.card-footer {
    height: 20%;
    display: flex;
    justify-content: center;
    background: var(--footer-color) var(--gradient);
}
.card-footer a {
    margin: 1% 0;
    padding: 0.5% 5%;
    background: var(--button-color) var(--gradient);
    color: var(--black);
    border: var(--border);
    border-width: 0.2rem;
    border-radius: 2rem;
    text-decoration: none;
}
.card-footer a:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
}
