:root {
    --white: rgb(224, 224, 224);
    --top-part-color: rgb(238, 64, 53);
    --bottom-part-color: rgb(236, 236, 236);
    --middle-part-color: rgb(88, 88, 90);
    --button-color: rgb(178, 177, 178);
    --opening-time: 0.3s;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    background-color: rgb(68, 68, 68);
    font-family: Arial, Helvetica, sans-serif;
}
button {
    color: inherit;
    border: none;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
}
h1 {
    margin: 3% 0;
    color: var(--white);
    font-size: 3rem;
    text-align: center;
}
.starters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}
.starter-container {
    color: var(--white);
}
.arrow {
    display: block;
    width: 4rem;
    visibility: hidden;
    margin: 0 auto;
    animation: float 2s ease-in-out infinite;
}
.starter-container:hover .arrow {
    visibility: visible;
}
.pokeball {
    cursor: pointer;
    position: relative;
    --size: 20rem;
    width: var(--size);
    height: var(--size);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto;
    border: 0.5rem solid var(--middle-part-color);
    border-radius: 50%;
    transform-origin: 50% 100%;
}
.pokeball:hover {
    animation: pokeball-shake 0.5s ease-in-out forwards;
}
.top-part {
    flex: 1;
    background-color: var(--top-part-color);
}
.bottom-part {
    flex: 1;
    background-color: var(--bottom-part-color);
}
.middle-part {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1rem;
    margin: auto;
    background-color: var(--middle-part-color);
}
.middle-circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    --size: 25%;
    width: var(--size);
    height: var(--size);
    margin: auto;
    background-color: var(--middle-part-color);
    border-radius: 50%;
}
.pokeball-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    --size: 15%;
    width: var(--size);
    height: var(--size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
    transition-property: width height;
    transition: var(--opening-time) ease-in;
}
.starter-container.active .pokeball-button {
    --size: 100%;
}
.starter-image {
    --size: 0%;
    --final-size: 50%;
    width: var(--size);
    height: var(--size);
}
.starter-container.active .starter-image {
    animation: pokemon-reveal 0.3s var(--opening-time) ease-in forwards;
}
.pokemon-name {
    opacity: 0;
    text-align: center;
}
.starter-container.active .pokemon-name {
    animation: name-reveal 0.6s var(--opening-time) ease-in forwards;
}
@keyframes pokemon-reveal {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: var(--final-size);
        height: var(--final-size);
    }
}
@keyframes name-reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes float {
    0% {
        transform: translateY(10%);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(10%);
    }
}
@keyframes pokeball-shake {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(20deg);
    }
    66% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
