* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    background-color: rgb(68, 68, 68);
}
.starter-container {

}
.pokeball {

}
.top-part {

}
.bottom-part {
    
}
.middle-part {

}
.pokeball-button {

}
.starter-image {
    visibility: hidden;
}
