:root {
    --white: rgb(224, 224, 224);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    background: rgb(68, 68, 68) url(../img/background.webp);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}
.starters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
}

